!!! 5
%html
    %head
        %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-Edge"}
        %meta{:charset => "utf-8"}
        %meta{:name => "description", :content => ""}
        %meta{:name => "author", :content => ""}
        %meta{:name => "viewport", :content => "width=device-width, intital-scale=1"}
        %link{"rel" => "stylesheet", "href" => "css/bootstrap.min.css", "media" => "screen"}
        %title 1. Using Bootstrap with HAML
        /[if lt IE 9]
            %srcipt{:src => "//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"}
            %script{:src => "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"}
        %link{"rel" => "shortcut icon", "href" => "images/favicon.png"}
    %body
        %header
        