!!! 5
%html
  %head
    %title bootstrap Test1
    %meta{"http-equiv" => Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "normal.css", :media => "screen"}
    %link{"rel" => "stylesheet", "hiref" => "main.css", "media" => "screen"}
  %body
    %section.container
      %div.row
          %section.col .col-xs-12 .col-sm-12 .col-md-12 .col-lg-12
            %hello World
